
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Us</h2>



<br />
<br />

<table align="center">

    <tr>
        <th> <p style="text-align:center; font-size:20px">Timothy Drier</p> </th>
        <th>&nbsp;</th>
        <th> <p style="text-align:center; font-size:20px">Shathar Campbell</p> </th>
        <th>&nbsp;</th>
        <th> <p style="text-align:center; font-size:20px">Dennis Perkins</p> </th>
        <th>&nbsp;</th>
        <th> <p style="text-align:center; font-size:20px">Alex Meza</p> </th>
    </tr>


    <tr>
        <th> <p style="text-align:center"><img src="../../img/Timothy.jpg" alt="Timothy" width="300" height="300" title="Timothy Drier" hspace="25"></p> </th>

        <th>&nbsp;</th>
        <th> <p style="text-align:center"><img src="../../img/Shathar.jpg" alt="Shathar" width="300" height="300" title="Shathar Campbell" hspace="25"></p> </th>

        <th>&nbsp;</th>
        <th> <p style="text-align:center"><img src="../../img/Dennis.jpg" alt="Dennis" width="300" height="300" title="Dennis Perkins" hspace="25"></p> </th>

        <th>&nbsp;</th>
        <th> <p style="text-align:center"><img src="../../img/Alex.jpg" alt="Alex" width="300" height="300" title="Alex Meza" hspace="25"></p> </th>
    </tr>



    <tr>

  
        <th>
            <a href="https://www.linkedin.com/in/timothy-drier-7aa4315b/">
                <p style="text-align:center">
                    <img src="../../img/LinkedInIcon.jpg" alt="Tim" width="25" height="25" title="Tim LinkedIn" hspace="3">

                    <a href="https://github.com/tdrier1">
                        <img src="../../img/GitHubIcon.jpg" alt="Tim" width="25" height="25" title="Tim GitHub">
                </p>
        </th>

      
        <th>&nbsp;</th>


      
        <th>
            <a href="https://linkedin.com/in/shatharcampbell/">
                <p style="text-align:center">
                    <img src="../../img/LinkedInIcon.jpg" alt="Shathar" width="25" height="25" title="Shathar LinkedIn" hspace="3">

                    <a href="https://github.com/campbell88">
                        <img src="../../img/GitHubIcon.jpg" alt="Shathar" width="25" height="25" title="Lanna GitHub">
                </p>
        </th>

  
        <th>&nbsp;</th>


        <th>
            <a href="https://www.linkedin.com/in/dennis-perkins-mba">
                <p style="text-align:center">
                    <img src="../../img/LinkedInIcon.jpg" alt="Dennis" width="25" height="25" title="Dennis LinkedIn" hspace="3">

                    <a href="https://github.com/Perk430">
                        <img src="../../img/GitHubIcon.jpg" alt="Dennis" width="25" height="25" title="Dennis GitHub">
                </p>
    </tr>
</table>

