@{
    ViewBag.Title = null;
    Layout = null;
}
<!DOCTYPE HTML>
<html>

<head>
    <title>Squatter Spotter</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1><a href="../Home">Squatter<span class="logo_colour"> Spotter</span></a></h1>
                    <h2>Protecting Your Neighborhood.</h2>
                </div>
            </div>
            <div id="centeredmenu">
                <ul id="menu">
                    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="/Report/ReportView">Report A Squatter</a></li>
                    <li><a href="/Owner/OwnerView">Our Database</a></li>
                    <li><a href="/Owner/MyReportsView">Your Reports</a></li>
                    <li><a href="/Home/AboutUS">About Us</a></li>
                    <li><a href="/Home/FAQView">FAQ</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="/Manage/ManageLogins">@ViewBag.Name</a></li>
                        <li><a href="/Account/LogOut">Logout</a></li>
                    }
                    else
                    {
                        <li><a href="/Account/Login">Login</a></li>
                        <li><a href="/Account/Register">Register</a></li>
                    }
                </ul>
            </div>

        </div>
        <br />
        <br />

        <h2>About Us</h2>



        <br />
        <br />

        <table align="center">

            <tr>
                <th> <p style="text-align:center; font-size:20px">Timothy Drier</p> </th>
                <th>&nbsp;</th>
                <th> <p style="text-align:center; font-size:20px">Shathar Campbell</p> </th>
                <th>&nbsp;</th>
                <th> <p style="text-align:center; font-size:20px">Dennis Perkins</p> </th>
                <th>&nbsp;</th>
                <th> <p style="text-align:center; font-size:20px">Alex Meza</p> </th>
            </tr>


            <tr>
                <th> <p style="text-align:center"><img src="https://www.grandcircus.co/wp-content/uploads/2017/05/Timothy-Drier-.jpg" alt="Timothy" width="300" height="300" title="Timothy Drier" hspace="25"></p> </th>

                <th>&nbsp;</th>
                <th> <p style="text-align:center"><img src="https://www.grandcircus.co/wp-content/uploads/2017/05/Shathar-Campbell.jpg" alt="Shathar" width="300" height="300" title="Shathar Campbell" hspace="25"></p> </th>

                <th>&nbsp;</th>
                <th> <p style="text-align:center"><img src="https://www.grandcircus.co/wp-content/uploads/2017/05/Dennis-Perkins-.jpg" alt="Dennis" width="300" height="300" title="Dennis Perkins" hspace="25"></p> </th>

                <th>&nbsp;</th>
                <th> <p style="text-align:center"><img src="https://www.grandcircus.co/wp-content/uploads/2017/05/Alex-Meza.jpg" alt="Alex" width="300" height="300" title="Alex Meza" hspace="25"></p> </th>
            </tr>


            
            <tr>

                
                <th> 
                    <a href="https://www.linkedin.com/in/timothy-drier-7aa4315b/">LinkedIn</a>
                    
                        @*<p style="text-align:center">*@
                        @*<img src="../../img/LinkedInIcon.jpg" alt="Tim" width="25" height="25" title="Tim LinkedIn" hspace="3">*@

                        <a href="https://github.com/tdrier1">GitHub</a>
                        @*<img src="img/GitHubIcon.jpg" alt="Tim" width="25" height="25" title="Tim GitHub">*@
                        @*</p>*@
</th>


                <th>&nbsp;</th>



                <th>
                    <a href="https://linkedin.com/in/shatharcampbell/">LinkedIn</a>
                        @*<p style="text-align:center">
                            <img src="../../img/LinkedInIcon.jpg" alt="Shathar" width="25" height="25" title="Shathar LinkedIn" hspace="3">*@

                    <a href="https://github.com/campbell88">GitHub</a>
                                @*<img src="../../img/GitHubIcon.jpg" alt="Shathar" width="25" height="25" title="Shathar GitHub">
                        </p>*@
                </th>


                <th>&nbsp;</th>


                <th>
                    <a href="https://www.linkedin.com/in/dennis-perkins-mba">LinkedIn</a>
                        @*<p style="text-align:center">
                            <img src="../../img/LinkedInIcon.jpg" alt="Dennis" width="25" height="25" title="Dennis LinkedIn" hspace="3">*@

                    <a href="https://github.com/Perk430">GitHub</a>
                                @*<img src="../../img/GitHubIcon.jpg" alt="Dennis" width="25" height="25" title="Dennis GitHub">
                        </p>*@
             

                
                <th>&nbsp;</th>
                <th>
                    <a href="www.linkedin.com/in/alex-meza">LinkedIn</a>
                        @*<p style="text-align:center">
                            <img src="../../img/LinkedInIcon.jpg" alt="Alex" width="25" height="25" title="Alex LinkedIn" hspace="3">*@

                    <a href="https://github.com/AlexMez">GitHub</a>
                                @*<img src="../../img/GitHubIcon.jpg" alt="Alex" width="25" height="25" title="Alex GitHub">*@

                    

</tr>
        </table>

        <br />
        <div id="content_footer"></div>
        <div id="footer">
            <p><i>*Disclaimer:</i> The residential information on this site is only as accurate as provided Onboard Developer Platform.</p>
            <p><a href="/Report/ReportView">Report A Squatter</a> | <a href="/Owner/OwnerView">Search Our Database</a> | <a href="/Home/FAQView">Check out our FAQ's</a> | <a href="/Home/AboutUS">Meet The Developers</a>
<p>Copyright &copy; simplestyle_banner | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">HTML5 Web Templates</a></p>
        </div>

</body>
</html>
