
@{
    ViewBag.Title = null;
}
<!DOCTYPE HTML>
<html>

<head>
    <title>Squatter Spotter - FAQs</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css"/>
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1><a href="index.html">Squatter<span class="logo_colour"> Spotter</span></a></h1>
                    <h2>Protecting Your Neighborhood.</h2>
                </div>
            </div>
            <div id="centeredmenu">
                <ul id="menu">
                    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="/Report/ReportView">Report A Squatter</a></li>
                    <li><a href="/Owner/OwnerView">Our Database</a></li>
                    <li><a href="/Owner/MyReportsView">Your Reports</a></li>
                    <li><a href="/Home/AboutUS">About Us</a></li>
                    <li><a href="/Home/FAQView">FAQ</a></li>
                    <li><a href="/Account/Register">Register</a></li>
                    <li><a href="/Account/Login">Login</a></li>
                </ul>
            </div>
        </div>
        <div id="content_header"></div>
        <div id="site_content">
            <div id="banner"></div>
            <div id="sidebar_container">
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_item">
                        <!-- insert your sidebar items here -->
                        <h3>Latest News</h3>
                        <h4>Squatter sentenced to 14 years in prison</h4>
                        <h5>May 30, 2017</h5>
                        <p>Ring leader of a criminal enterprise that illegally took possession of several homes in the Chicago area has been sentenced to 14 years in prison<br /><a href="http://www.chicagotribune.com/suburbs/daily-southtown/news/ct-sta-beverly-squatter-sentenced-st-0524-20170523-story.html">Read more</a></p>
                    </div>
                    <div class="sidebar_base"></div>
                </div>
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_item">
                        <h3>Useful Links</h3>
                        <ul>
                            <li><a href="/Report/ReportView">Report A Squatter</a></li>
                            <li><a href="/Owner/OwnerView">Search Our Database</a></li>
                            <li><a href="/Home/FAQView">Check out our FAQ's</a></li>
                            <li><a href="/Home/AboutUS">Meet The Developers</a></li>

                        </ul>
                    </div>
                    <div class="sidebar_base"></div>
                </div>
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_item">
                        <h3>Search</h3>
                        <form method="post" action="#" id="search_form">
                            <p>
                                <input class="search" type="text" name="search_field" value="Enter keywords....." />
                                <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
                            </p>
                        </form>
                    </div>
                    <div class="sidebar_base"></div>
                </div>
            </div>
            <div id="content">
                <!-- insert the page content here -->
                <h1>FAQ's</h1>
                <b>What is squatting?</b>
                <br /><p>
                    Squatting is taking up residence in a
                    property and living on the property
                    without the owner’s permission.
                    Squatting is also called “illegal
                    occupancy.”<br />
                <p>
                    A squatter is a type of trespasser. A
                    trespasser is someone who enters
                    land owned by someone else without
                    permission. A squatter is someone who
                    not only enters land without permission
                    but takes up residence there illegally.
                    People regularly living in or using a
                    property without permission are
                    squatting. However, some occupants
                    living in vacant homes may not be
                    squatting if they have a legal claim or
                    connection to the property.
                    <br />
                </p>
                <b>
                    How do I know if someone
                    is squatting?
                </b><br />
                <p>
                    Many people living in vacant homes
                    are not squatting.
                    People living in vacant homes are not
                    squatting if they have a legal claim or
                    connection to the property giving them the
                    right to remain. Some examples include:
                    homeowners facing foreclosure while
                    foreclosure is in progress and tenants
                    fighting improper evictions.
                    <br /><br />
                </p>
                <b>How do I report a squatter on your website?</b>
                <br />
                <a href="/Report/ReportView">Click here </a> to Report A Squatter
                <br /><br /><br />

                
                <b>    I am a homeowner and I see my home has a squatter reported on your website.
                    What do I do now?
                </b>
                <br />
                It's a tricky process that will most likely require legal guidance. However, there are plenty of sites
                offering information <a href="https://www.landlordology.com/how-to-get-rid-of-squatters/">Like this site </a>
                <br />
                <br />
                <br />
                <b>
                    I am a tenant and my residence has been flagged as a home with a squatter.
                    How can I dispute this report?
                </b>
                <i>(Dispute tab with dispute form to follow)</i>
                <br /><br />


            </div>
        </div>
        <div id="content_footer"></div>
        <div id="footer">
            <p><i>*Disclaimer:</i> The residential information on this site is only as accurate as provided Onboard Developer Platform.</p>
            <p><a href="/Report/ReportView">Report A Squatter</a> | <a href="/Owner/OwnerView">Search Our Database</a> | <a href="/Home/FAQView">Check out our FAQ's</a> | <a href="/Home/AboutUS">Meet The Developers</a>
            <p>Copyright &copy; simplestyle_banner | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">HTML5 Web Templates</a></p>
        </div>
    </div>
</body>
</html>






