
@{
    ViewBag.Title = "FAQView";
}

<h2>FAQ</h2>

<b>What is squatting?</b>
<br /><p>
    Squatting is taking up residence in a
    property and living on the property
    without the owner’s permission.
    Squatting is also called “illegal
    occupancy.”<br />
<p>
    A squatter is a type of trespasser. A
    trespasser is someone who enters
    land owned by someone else without
    permission. A squatter is someone who
    not only enters land without permission
    but takes up residence there illegally.
    iii People regularly living in or using a
    property without permission are
    squatting. However, some occupants
    living in vacant homes may not be
    squatting if they have a legal claim or
    connection to the property.
    <br />
</p>
<b>How do I know if someone
is squatting?</b><br />
<p>
    Many people living in vacant homes
    are not squatting.
    People living in vacant homes are not
    squatting if they have a legal claim or
    connection to the property giving them the
    right to remain. Some examples include:
    homeowners facing foreclosure while
    foreclosure is in progress and tenants
    fighting improper evictions.
    <br /><br />
</p>
<b>How do I report a squatter on your website?</b>
<br /><br /><br />

<b>I am a homeowner and I see my home has a squatter reported on your website.
What do I do now?</b>
<br /><br />

<b>
    I am a tenant and my residence has been flagged as a home with a squatter.
    How can I dispute this report?
</b>
<i>(Dispute tab with dispute form to follow)</i>
<br /><br />
