@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
</head>
<body>
    <br />
    <p style="font-size:36px;">Welcome to Squatter Spotter!</p>
    <br />
    <p>
        This site is dedicated to reporting squatters.  A squatter is a type of trespasser residing in<br />
        a property not belonging to them. Help your community by reporting known squatters here!  <br />
        Please click on the "Register" tab to register on our website and click on the "Report" tab  <br />
        to report a squatter. <br />

    </p>
    <br />
</body>
</html>

