@{
    ViewBag.Title = null;
}
<!DOCTYPE HTML>
<html>

<head>
    <title>Squatter Spotter</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1><a href="index.html">Squatter<span class="logo_colour"> Spotter</span></a></h1>
                    <h2>Protecting Your Neighborhood.</h2>
                </div>
            </div>
            <div id="centeredmenu">
                <ul id="menu">
                    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="/Report/ReportView">Report A Squatter</a></li>
                    <li><a href="/Owner/OwnerView">Our Database</a></li>
                    <li><a href="/Owner/MyReportsView">Your Reports</a></li>
                    <li><a href="/Home/AboutUS">About Us</a></li>
                    <li><a href="/Home/FAQView">FAQ</a></li>
                    @if (ViewBag.Name != null)
                    {
                        <li><a href="/Manage/ManageLogins">@ViewBag.Name</a></li>
                        <li><a href="/Account/LogOut">Logout</a></li>
                    }
                    else
                    {
                        <li><a href="/Account/Login">Login</a></li>
                        <li><a href="/Account/Register">Register</a></li>
                    }

                </ul>
            </div>
        </div>
        <div id="content_header"></div>
        <div id="site_content">
            <div id="banner"></div>
            <div id="sidebar_container">
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_item">
                        <!-- insert your sidebar items here -->
                        <h3>Latest News</h3>
                        <h4>Squatter sentenced to 14 years in prison</h4>
                        <h5>May 30, 2017</h5>
                        <p>Ring leader of a criminal enterprise that illegally took possession of several homes in the Chicago area has been sentenced to 14 years in prison<br /><a href="http://www.chicagotribune.com/suburbs/daily-southtown/news/ct-sta-beverly-squatter-sentenced-st-0524-20170523-story.html">Read more</a></p>
                    </div>
                    <div class="sidebar_base"></div>
                </div>
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_item">
                        <h3>Useful Links</h3>
                        <ul>
                            <li><a href="/Report/ReportView">Report A Squatter</a></li>
                            <li><a href="/Owner/OwnerView">Search Our Database</a></li>
                            <li><a href="/Home/FAQView">Check out our FAQ's</a></li>
                            <li><a href="/Home/AboutUS">Meet The Developers</a></li>

                           
                        </ul>
                    </div>
                    <div class="sidebar_base"></div>
                </div>
                <div class="sidebar">

                </div>
            </div>
            <div id="content">
                <!-- insert the page content here -->
                <h1>Welcome to Squatter Spotter</h1>
                <p>
                    A squatter is someone who not only enters land without permission but takes up residence there illegally.
                    Squatting is an issue primarily in urban areas. However, due to squatting rights, squatters have recently been 
                    residing in neighborhoods of all kinds. This can lead to bringing crime and illicit activity to suburban areas that
                    have generally been a safe area to reside in. In order to prevent more squatters to populate, we created this website
                    to draw attention to this issue and bring the community together to help stop squatters. If you believe there is a squatter
                    residing on a piece of property, please register on our website and fill out the report form.
                </p>
                <p> Our website allows you to do the following:</p>
                    <ul>
                        <li>Report a Squatter</li>
                        <li>Search Our Database for Current Reports</li>
                        <li>Edit Your Submitted Report</li>
                    </ul>
</div>
        </div>
        <div id="content_footer"></div>
        <div id="footer">
            <p><i>*Disclaimer:</i> The residential information on this site is only as accurate as provided Onboard Developer Platform.</p>
            <p><a href="/Report/ReportView">Report A Squatter</a> | <a href="/Owner/OwnerView">Search Our Database</a> | <a href="/Home/FAQView">Check out our FAQ's</a> | <a href="/Home/AboutUS">Meet The Developers</a> 
            <p>Copyright &copy; simplestyle_banner | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">HTML5 Web Templates</a></p>
        </div>
    </div>
</body>
</html>
