@model Group1FinalProject.Models.Address

@{
    ViewBag.Title = "OwnerView";
}


<form name="input" action="/DB/SendData" method="post">
    <label>Address1 </label><input type="Text" name="Address1" id="Address1" /><br />
    <br />
    <label>Address2 </label><input type="Text" name="Address2" id="Address2" /><br />
    <br />
    <br />
    <input type="submit" value="Submit" />
</form>

<table border="1">
    <tr><th>Address 1</th><th>Address 2</th></tr>
    @foreach (var item in ViewBag.Message)
    {
        <tr>
            <td>@item.Address1</td>
            <td>@item.Address2</td>
            <td><a href="/DB/DeleteData?DeleteName=@item.Address1" onclick="return confirm('Are you sure?')">Delete</a></td>
        </tr>
    }
</table>
